<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
               http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <array>
                <value>classpath:config.properties</value>
            </array>
        </property>
    </bean>

    <bean id="restClient" class="com.github.esbatis.client.RestClient">
        <constructor-arg name="hosts" value="${es.hosts}" />
    </bean>

    <bean id="mapperFactory" class="com.github.esbatis.spring.MapperFactoryBean">
        <property name="restClient" ref="restClient" />
        <property name="mapperLocations" >
            <list>
                <value>classpath*:mapper/*.xml</value>
            </list>
        </property>
        <property name="executorFilters">
            <list>
                <bean class="com.github.esbatis.test.TimeSpanFilter" />
            </list>
        </property>
    </bean>

    <bean id="scannerConfigurer" class="com.github.esbatis.spring.MapperScannerConfigurer">
        <property name="mapperFactoryBeanId" value="mapperFactory" />
        <property name="basePackage" value="com.github.esbatis.test" />
        <property name="annotationClass" value="org.springframework.stereotype.Repository" />
    </bean>
</beans>
